@import url(https://fonts.googleapis.com/css?family=Inconsolata:400,700);


::selection{
  background: #eee
}
::-webkit-selection{
  background: #eee
}
::-moz-selection{
  background: #eee
}
#chatcommand a{
  color: #181818;
}
#chatcommand a:hover,a:focus{
  background: #181818;
  color:#fff;
}
#chatcommand h2{
  font-size: 1em;
  font-weight: 400;
}
#chatcommand p{
  margin-bottom:2em;
}
#chatcommand abbr{
  cursor: help;
}
#chatcommand ul{
  list-style: none;
  padding: 0;
}
#chatcommand li{
  margin:1em 0 0;
}
#chatcommand span{
  display: block;
  color:#999;
  line-height:1;
}

#chatcommand kbd{
  font-family: 'Inconsolata', monospace;
  border:1px solid #999;
  text-transform: uppercase;
  padding:0 .2em;
}
#chatcommand input[type="text"]{
  max-width: 10em;
  border: none;
  font-family: inherit;
  background: #fff;
  padding:0 .5em;
}
#chatcommand input[type="text"]:focus{
  background: #fff;
  color: #000;
  outline:none;
}
#chatcommand .command{
  display: block;
  max-width: 20em;
  color: #181818;
  font-weight: 700;
  margin: 2em 0;
}


#chatcommand section{
  display: none;
}
#chatcommand .open{
  display: block;
}
